@import "tailwindcss";

@import "@fontsource/comic-neue/700.css";
@import "@fontsource/comic-neue/300.css";
@import "@fontsource/comic-neue/400.css";

.font-comic {
  font-family: "Comic Neue", cursive;
}
* {
  font-family: "Comic Neue", cursive;
}

:root {
  --color-brand: #9b4dca;
  --color-brand-light: #6366f1;
  --color-brand-dark: #3730a3;
}

/* Entire scrollbar */
::-webkit-scrollbar {
  width: 12px; /* width of vertical scrollbar */
  height: 12px; /* height of horizontal scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 6px;
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background-color: #a60195; /* color of the scrollbar */
  border-radius: 6px; /* roundness */
  border: 2px solid #f0f0f0; /* padding around thumb */
}

/* Optional: on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #3730a3;
}

@theme {
  --color-website-color-black: #212a31;
  --color-website-color-darkGray: #2e3944;
  --color-website-color-lightGray: #d3d9d4;
  --color-website-color-green: #124e66;
  --color-website-color-lightGreen: #748d92;
}
